/ColorAttribute.class
/Material.class
/RayTracer$RayTracerException.class
/RayTracer.class
/Vector.class
/LightSource.class
/Camera.class
/Sphere.class
/Ray.class
/.project
/.classpath
# Eclipse Core
.project
# JDT-specific (Eclipse Java Development Tools)
.classpath
.*
